h3 {
    color: #77A2AC;
}
.showtime {
    background-color: #172029;
    position: relative;
    display: block;
}
.showtimeFor {
    margin: 10px;
    height: 290px;
  
}
.showtimeWeek {
    color: #3CB4E7;
    position: absolute;
    left: 200px;
    // border: 1px solid black;
    position: absolute;
    width: 500px;
    height: 270px;
    padding-top: 5px;
  
}
.showtimeWeekTimeForTime {
    border: 1px solid black;
    cursor: pointer;
}
.showtimeWeekTimeForTime:hover {
    background: rgb(165, 155, 13);
}
.showtimeWeekTime {
    display: grid;
    // border: 1px solid black;
    // height: 100%;
    // width: 100%;
    grid-gap: 2vw;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    
}
// .showtimeWeekDate {
//     height: 230px;
//     border: 1px solid black;
// }