.showtime {
    background-color: #172029;
    position: relative;
    display: block;
}
.showtimeFor {
    margin: 10px;
  
}
.showtimeWeek {
    color: #3CB4E7;
    position: absolute;
    left: 200px;
    // border: 1px solid black;
    position: absolute;
    width: 500px;
    height: 235px;
    padding-top: 5px;
  
}
// .showtimeWeekDate {
//     height: 230px;
//     border: 1px solid black;
// }