.details {
    position: relative;
    left: 955px;
    width: 350px;
    // border: 1px solid black;
}
.details h2 {
    position: absolute;

}
.details .movieRental {
    position: absolute;
    top: 400px;
}